* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    width: 100%;
  }
@media screen and (max-width: 950px){
    :root {
        font-size: 14px;
    }
  }